<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
<form action="/quotes/<%= @quote.id %>" method="post"> 
  <input type="hidden" name="_method" value="PATCH" />
  <input type="hidden" name="date_created" value="<%= @date %>" >
  <p>Quote Date: <%= @date %></p>
  <input type="number" name="client_id" value="<%= @quote.client_id %>">
  <input type="text" name="project_scope" value="<%= @quote.project_scope %>">
  <h2>Labour</h2>
    <div id="labour_form">
      <% @counter = 0 %>
      <% @quote.labour.each do |labour_item| %>
      <div>
        <input type="hidden" name="labour_id_<%= @counter %>" value="<%= labour_item.id %>" />
        <input type="text" name="labour_desc_<%= @counter %>" value="<%= labour_item.description %>" />
        <input type="number" name="labour_unit_price_<%= @counter %>" value="<%= labour_item.unit_price %>" />
        <input type="number" name="labour_quantity_<%= @counter %>" value="<%= labour_item.quantity %>" />
        <input type="number" name="labour_mark_up_<%= @counter %>" value="<%= labour_item.mark_up %>" />
        <input type="number" name="labour_total_<%= @counter %>" value="<%= labour_item.labour_total %>" />
      </div>
      <% @counter += 1 %>
      <% end %>
    </div>
    <h2>Materials</h2>
    <% @material_counter = 0 %>
      <% @quote.materials.each do |material_item| %>
      <div>
        <input type="hidden" name="material_id_<%= @material_counter %>" value="<%= material_item.id %>" />
        <input type="text" name="material_desc_<%= @material_counter %>" value="<%= material_item.description %>" />
        <input type="number" name="material_unit_price_<%= @material_counter %>" value="<%= material_item.unit_price %>" />
        <input type="number" name="material_quantity_<%= @material_counter %>" value="<%= material_item.quantity %>" />
        <input type="number" name="material_mark_up_<%= @material_counter %>" value="<%= material_item.mark_up %>" />
        <input type="number" name="material_total_<%= @material_counter %>" value="<%= material_item.material_total %>" />
      </div>
      <% @material_counter += 1 %>
      <% end %>
  </div>

  <h2>Expenses</h2>
    <% @expense_counter = 0 %>
      <% @quote.expenses.each do |expense_item| %>
      <div>
        <input type="hidden" name="expense_id_<%= @expense_counter %>" value="<%= expense_item.id %>" />
        <input type="text" name="expense_desc_<%= @expense_counter %>" value="<%= expense_item.description %>" />
        <input type="number" name="expense_unit_price_<%= @expense_counter %>" value="<%= expense_item.unit_price %>" />
        <input type="number" name="expense_quantity_<%= @expense_counter %>" value="<%= expense_item.quantity %>" />
        <input type="number" name="expense_mark_up_<%= @expense_counter %>" value="<%= expense_item.mark_up %>" />
        <input type="number" name="expense_total_<%= @expense_counter %>" value="<%= expense_item.expense_total %>" />
      </div>
      <% @material_counter += 1 %>
      <% end %>
    <%# <button type="button" id="insertMoreLines">Add Labour</button>  %>
  <input type="submit" value="Submit" />
</form>

<div id="extraLabourLines">
  <form action="/labour/extra" method="post">
    <h2>More Labour</h2>
    <div id="labour_form">
      <div>
        <input type='hidden' name='current_quote_id' value='<%= @quote.id %>'  />
        <input type="text" name="labour_desc_0" placeholder="Description"  />
        <input type="number" name="labour_unit_price_0" placeholder="unit price"  />
        <input type="number" name="labour_quantity_0" placeholder="quantity"  />
        <input type="number" name="labour_mark_up_0" placeholder="mark up"  />
        <input type="number" name="labour_total_0" placeholder="total"  />
      </div>
    </div>
    <h2>Materials</h2>
    <div id="materials_form">
      
      <div>
        <input type="text" name="material_desc_0" placeholder="Description" />
        <input type="number" name="material_unit_price_0" placeholder="unit price" />
        <input type="number" name="material_quantity_0" placeholder="quantity" />
        <input type="number" name="material_mark_up_0" placeholder="mark up" />
        <input type="number" name="material_total_0" placeholder="total" />
      </div>  
    </div>    

    <h2>Expenses</h2>
    <div id="expenses_form">
      
      <div>
        <input type="text" name="expense_desc_0" placeholder="Description" />
        <input type="number" name="expense_unit_price_0" placeholder="unit price" />
        <input type="number" name="expense_quantity_0" placeholder="quantity" />
        <input type="number" name="expense_mark_up_0" placeholder="mark up" />
        <input type="number" name="expense_total_0" placeholder="total" />
      </div>  
    </div>  

    <input type="submit" value="Submit Row" />
  </form>
  


<img src="../../matrix.png" alt="">

  <script src="../../js2.js"></script>
</body>
</html> 