<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <a href="/quotes/new">Add a quote</a>
  <% @quotes.each do |item| %>
  
  <ul class="quote_item">
    <li><%= item.id %></li>
    <li><%= item.date_created %></li>
    <li><%= item.client_id %></li>
    <li><%= item.project_scope %></li>
    <ul>
      <h2>Labour</h2>
      <% item.labour.each do |labour_item| %>
        <li><%= labour_item.id %></li>
        <li><%= labour_item.description %></li>
        <li><%= labour_item.unit_price %></li>
        <li><%= labour_item.quantity %></li>
        <li><%= labour_item.mark_up %></li>
        <li><%= labour_item.labour_total %></li>
        <li><%= labour_item.quote_id %></li>
      <% end %>
    </ul>

    <ul>
      <h2>Materials</h2>
      <% item.materials.each do |materials_item| %>
        <li><%= materials_item.id %></li>
        <li><%= materials_item.description %></li>
        <li><%= materials_item.unit_price %></li>
        <li><%= materials_item.quantity %></li>
        <li><%= materials_item.mark_up %></li>
        <li><%= materials_item.material_total %></li>
        <li><%= materials_item.quote_id %></li>
      <% end %>
    </ul>
    
  </ul>
  <form action="/quotes/<%= item.id %>" method="post">
    <input type='hidden' name='_method' value='DELETE'/>
    <input type="submit" value="Delete" />
  </form>
  <form action="/quotes/<%= item.id %>/edit" method="get">
    <input type="submit" value="Edit" />
  </form>
  <% end %>
  <img src="../../matrix.png" alt="">

  <script src="../../js.js"></script>
</body>
</html>