  
  <a href="/quotes/new">Add a quote</a>
  <% @quotes.each do |item| %>
  
  <ul class="quote_item">
    <li><%= item.id %></li>
    <li><%= item.date_created %></li>
    <li><%= item.client_id %></li>
    <li><%= item.project_scope %></li>
    <form action="/quotes/<%= item.id %>" method="post">
      <input type='hidden' name='_method' value='DELETE'/>
      <input type="submit" value="Delete" />
    </form>
    <form action="/quotes/<%= item.id %>/edit" method="get">
      <input type="submit" value="Edit" />
    </form>
  </ul>
  
  <% end %>